name: Deploy

on: [push]

jobs:
  deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@master

      - name: Authenticate to GCP
        uses: actions/gcloud/auth@master
        env:
          GCLOUD_AUTH: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker for GCR
        uses: actions/gcloud/cli@master
        with:
          args: "auth configure-docker --quiet"

      - name: Build image
        uses: actions/setup-java@v1
        with:
          java-version: '1.8'
      - run: ./mvnw --no-transfer-progress compile jib:dockerBuild -Djib.to.image=gcr.io/${{ secrets.GCP_PROJECT }}/hello-s1p:${{ github.sha }}

      - name: Push image to GCR
        uses: actions/gcloud/cli@master
        with:
          entrypoint: sh
          args: -c "docker push gcr.io/${{ secrets.GCP_PROJECT }}/hello-s1p:${{ github.sha }}"

      - name: Prepare service manifest
        env:
          PROJECT_ID: ${{ secrets.GCP_PROJECT }}
          APP_NAME: hello-s1p
        run: envsubst < .github/template.yml > .github/service.yml

      - name: Install kubectl and deploy service
        uses: actions/gcloud/cli@master
        with:
          args: "components install kubectl --quiet && gcloud container clusters get-credentials ${{ secrets.CLUSTER_NAME }} --project ${{ secrets.GCP_PROJECT }} --zone ${{ secrets.CLUSTER_ZONE }} && kubectl apply -f .github/service.yml -n ${{ secrets.CLUSTER_NS }}"
